h1{
    font-size: 60px;
    color: black;
    font-style: italic;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
h2 {
    color: #2c3e50;
}
ul {
    list-style-type: square;
    padding-left: 20px;
}
p {
    text-align: center;
    font-size: 25px;

}